.page__single__promo {
    margin: 30px calc(-1 * (100vw - 1200px) / 2) 59px;
    font-size: 0;
}

.single__content {
    max-width: 770px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
}

.default__text>* {
    margin-bottom: 20px;
}


.block_top__text {
    max-width: 750px;
}

.text_x {
    font-weight: 300;
    margin-bottom: 30px;
}

.btn_review {
    max-width: 200px;
}

.text_x .default__text {
    line-height: 1.55;
}

.default__text>*:last-child {
    margin-bottom: 0;
}

.default__text h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.35;
    margin-top: 60px;
    margin-bottom: 26px;
}



.default__text q {
    font-weight: 300;
    font-size: 13px;
    max-width: 360px;
    padding-left: 33px;
    display: block;
    position: relative;
    color: #777777;
    line-height: 1.24;
}

.default__text q:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0235 12.0235V7H6V12.0235H9.23153C9.23153 13.5677 7.78339 14.8253 6 14.8253V16.6176C8.77209 16.6176 11.0235 14.5564 11.0235 12.0236V12.0235Z' fill='%23DCDCDC'/%3E%3Cpath d='M18.0001 12.0235V7H12.9766V12.0235H16.2081C16.2081 13.5677 14.76 14.8253 12.9766 14.8253V16.6176C15.7487 16.6176 18.0001 14.5564 18.0001 12.0236V12.0235Z' fill='%23DCDCDC'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.default__text ul,
.default__text ol {
    padding-left: 26px;
    list-style: none;
}

.default__text li:before {
    width: 16px;
    height: 1px;
    background: #FF7A00;
    content: '';
    position: absolute;
    left: -27px;
    top: 9px;
}

.default__text li {
    position: relative;
    margin-bottom: 15px;
}

.default__text li:last-child {
    margin-bottom: 0;
}

p.default__text__image {
    margin: 60px -200px 60px;
    font-size: 0;
}

.single__bottom__btn {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}

.btn__call_single {
    padding: 15px 23px;
}

.page__content.page__content--single {
    padding-bottom: 90px;
}

@media screen and (max-width: 1210px) {
    .page__single__promo {
        margin: 30px -20px;
    }

    p.default__text__image {
        margin: 60px calc(-1 * (100vw - 800px) / 2);
    }
}

@media screen and (max-width: 800px) {
    p.default__text__image {
        margin: 60px -20px
    }
}

@media screen and (max-width: 550px) {
    .page__single__promo img {
        height: 350px;
        object-fit: cover;
    }

    .default__text {
        font-size: 14px;
    }

    .default__text h3 {
        font-size: 24px;
        margin-bottom: 22px;
    }

    .default__text q {
        line-height: 1.45;
        margin-top: 25px;
    }

    .default__text li:before {
        top: 12px;
    }

    .single__bottom__btn {
        gap: 12px;
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 30px auto 0;
    }

    .btn__call_single {
        width: 100%;
        justify-content: center;
    }

    .btn_back_single {
        width: 100%;
        justify-content: center;
    }

    .page__content.page__content--single {
        padding-bottom: 75px;
    }

    p.default__text__image {
        margin: 45px -20px;
    }
}