.service__slider {
    margin: 60px -200px 120px;
    position: relative;
    overflow: hidden;
}

.service__slider .slick-arrow {
    position: absolute;
    top: 0;
    width: 100px;
    bottom: 0;
    z-index: 5;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
}

.service__slider .slick-next {
    right: 0;
    left: auto;
}

.service__slider .slick-prev {
    left: 0;
}

.service__slider .slick-arrow:before {
    content: '';
    background: #191919;
    filter: blur(100px);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    transition: 0.25s ease-in-out;
}

.service__slider .slick-arrow:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.25s ease-in-out;
}

.service__slider .slick-arrow:hover:before {
    background: #000;
}

.service__slider .slick-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L18 24L28 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.service__slider .slick-next:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 34L30 24L20 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.service__slider .slick-arrow:hover,
.service__slider .slick-arrow:focus {
    outline: none;
}

.service__content__title {
    max-width: 430px;
    margin-bottom: 64px;
}

.service__content__row {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.service__content__text {
    font-size: 15px;
    font-weight: 300;
}

.service__content__col_1 {
    width: 470px;
}

.service__content__text p {
    margin-bottom: 22px;
}

p.paragraph__big {
    line-height: 1.15;
    margin-bottom: 13px;
    font-size: 20px;
    margin-top: 35px;
}

.service__content__text>* {
    margin-top: 0;
}

p.paragraph__big:first-child {
    margin-top: 0;
}



.service__content__add_link {
    position: absolute;
    top: 160px;
    left: 600px;
    min-width: 300px;
}

.service__content__add_link__title {
    color: #777777;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.35;
    margin-bottom: 14px;
}

.service__content__add_link__list ul {
    padding: 0;
}

.default__text .service__content__add_link__list li:before {
    display: none;
}

.service__content__add_link__list a {
    color: #FF7A00;
    font-weight: 500;
}

.service__content__add_link__list li {
    margin-bottom: 9.5px;
}

.service__content__add_link__list a:hover {
    text-decoration: none;
}

.service__content__add_link__list a:active {
    color: #D75200;
}

.service__content {
    margin-bottom: 150px;
}

.service__slider .slick-dots {
    position: absolute;
    bottom: 25px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0;
    gap: 10px;
}

.service__slider .slick-dots button {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #fff;
    transition: 0.25s;
}

.service__slider .slick-dots button:hover {
    background: #fff;
}

.service__slider .slick-dots .slick-active button {
    background: #fff;
}

.service__slider__item__inner {
    position: relative;
}

.service__slider__item__inner:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.service__section_1 {
    margin-bottom: 150px;
    position: relative;
}

.service_stage {
    background: #191919;
    color: #fff;
    padding: 150px 0 8px;
    margin-bottom: 60px;
}

.add__service .container {
    max-width: 1010px;
}

.add__service .title_x {
    max-width: 440px;
}

.add__service__title {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 9px;
}

.add__service__list {
    margin-top: 57px;
}

.add__service__price {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.35;
}

.add__service__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 20px;
}

.add__service__text {
    width: calc(50% - 20px);
    max-width: 370px;
    font-weight: 300;
    font-size: 13px;
    padding-right: 5px;
}

.add__service__info {
    width: 50%;
    max-width: 430px;
}

.add__service {
    margin-bottom: 130px;
}

.popular_question.popular_question--service {
    margin-top: 150px;
}

.another_article.another_articles--service {
    margin-bottom: 30px;
}


.btn_service__section_1 {
    position: absolute;
    top: 100px;
    right: 0;
}

.page__content--service{    padding-bottom: 60px;}

@media screen and (max-width: 1600px) {
    .service__slider {
        margin: 100px calc(-1 * (100vw - 1200px) / 2) 120px;
    }
}

@media screen and (max-width: 1210px) {
    .service__slider {
        margin: 100px -20px 120px;
    }

    .service__slider__item__inner img {
        min-height: 560px;
        object-fit: cover;
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
    .service__section_1 {
        margin-bottom: 90px;
    }

    .service__content__title {
        margin-bottom: 32px;
    }

    .service__content__text p {
        margin-bottom: 24px;
    }

    p.paragraph__big {
        line-height: 1.25;
    }

    .service__content__add_link {
        position: static;
    }

    .service_stage {
        padding-top: 90px;
    }

    .add__service {
        margin-bottom: 90px;
    }

    .popular_question.popular_question--service {
        margin-top: 135px;
    }
}


@media screen and (max-width: 750px) {

    .service__review.review_block_x .title_x {
        margin: 0;
    }

    .service__review.review_block_x .block_review {
        margin-top: 20px;
    }

    .btn_service__section_1 {
        position: static;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
    }

    .add__service__info {
        width: 100%;
    }

    .add__service__text {
        width: 100%;
    }

    .add__service__item {
        gap: 12px;
        margin-bottom: 35px;
    }

    .add__service__title {
        margin-bottom: 7px;
    }

    .add__service__item:last-child {
        margin-bottom: 0;
    }

    .service__slider {
        margin: 40px -20px 55px;
    }

    .service__slider .slick-arrow {
        display: none !important
    }

    .service__slider__item__inner:before {
        background: linear-gradient(150.83deg, #191919 -14.01%, rgba(25, 25, 25, 0) 34.21%);
        opacity: 0.1;
    }
}