.page_about__team_top_image {
    margin-top: 54px;
    font-size: 0;
    margin-bottom: 29px;
}

.page_about__team_top_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 135px;
}

.page_about__team_top_text {
    font-weight: 300;
    font-size: 15px;
    max-width: 370px;
    padding-right: 10px;
    line-height: 1.35;
}

.page_about__team_top_quote {
    width: 340px;
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    padding-left: 34px;
    line-height: 1.25;
    position: relative;
}

.page_about__team_top_text p {
    margin-bottom: 10px;
}

.page_about__team_top_quote:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0235 12.0235V7H6V12.0235H9.23153C9.23153 13.5677 7.78339 14.8253 6 14.8253V16.6176C8.77209 16.6176 11.0235 14.5564 11.0235 12.0236V12.0235Z' fill='%23DCDCDC'/%3E%3Cpath d='M17.9996 12.0235V7H12.9761V12.0235H16.2076C16.2076 13.5677 14.7595 14.8253 12.9761 14.8253V16.6176C15.7482 16.6176 17.9996 14.5564 17.9996 12.0236V12.0235Z' fill='%23DCDCDC'/%3E%3C/svg%3E%0A");
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.page_about__our__team__item__image {
    font-size: 0;
    width: 100px;
    margin-bottom: 14px;
}

.page_about__our__team__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 85px;
    margin-top: 56px;
    gap: 60px 0;
}

.page_about__our__team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: calc(100% / 3);
}

.page_about__our__team__item__pos {
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 7px;
}

.page_about__our__team__item__name {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.2;
}

.page__content__count {
    background: #191919;
    padding: 77px 0 90px;
    color: #fff;
    margin-bottom: 149px;
}

.page__content__team {
    margin-bottom: 148px;
}

.page__content__count .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.page__content__count__item {
    flex: 1;
}

.page__content__count__item__value {
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.page__content__count__item__text {
    font-weight: 300;
    font-size: 15px;
}

.page__content__why_we .container {
    padding-left: 121px;
}

.page__content__why_we__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
    gap: 50px;
}

.page__content__why_we__text p {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 13px;
    line-height: 1.275;
}

p.page__content__why_we__big_text {
    font-size: 20px;
}

.page__content__why_we__col_1 {
    width: 470px;
}

.page__content__why_we_inner {
    margin-top: 53px;
}

.page__content__why_we__text {
    line-height: 1.25;
}

.page__content__why_we__row:last-child {
    margin-bottom: 0;
}

.page__content__why_we__text p:last-child {
    margin-bottom: 0;
}

.red_color {
    color: #FF7A00;
}

.page__content__why_we__col_2 {
    flex: 1;
    padding-left: 80px;
}

.page__content__why_we__advantage_title {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 12px;
}

.page__content__why_we__advantage_list {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    max-width: 375px;
}

.page__content__why_we__advantage_list li {
    margin-bottom: 9.5px;
}

.page__content__why_we__advantage_list li:last-child {
    margin-bottom: 0;
}

.page__content__why_we {
    margin-bottom: 160px;
}

.done_project__add_title {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 3px;
}

.done_project__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 56px;
    gap: 50px
}

.btn__ghost_0 {
    border: 1px solid;
    display: inline-flex;
    padding: 12.5px 23px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    gap: 10px;
    align-items: center;
}

.done_project__title {
    margin-bottom: 0;
}

.done_project__btn {
    margin-bottom: 13px;
    white-space: nowrap;
}

.done_project__btn:hover svg {
    transform: translate(5px, 0px);
}

.done_project__slider .slick-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    list-style: none;
    right: 20px;
    font-size: 0;
    gap: 7px;
}

.done_project__slide__title {
    font-weight: 300;
    font-size: 20px;
}

.done_project__slide__image:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    content: '';
    z-index: 1;
}

.done_project__slide__info {
    position: absolute;
    bottom: 88px;
    left: 30px;
    z-index: 2;
    color: #fff;
    right: 200px;
}

.done_project__slide {
    position: relative;
}

.done_project__slide__image {
    padding-top: 360px;
    position: relative;
}

.done_project__slide__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.done_project__slider button {
    font-size: 0;
    border: 1px solid #FFFFFF;
    width: 8px;
    height: 8px;
    background: transparent;
    appearance: none;
    border-radius: 0;
}

.done_project__slider .slick-dots .slick-active button {
    background: #fff;
}

.btn__ghost_0:active {
    background: #191919;
    color: #fff;
    border-color: #191919;
}

.btn__ghost_0 svg {
    transition: 0.25s ease-in-out;
}

.btn__ghost_0:hover svg {
    transform: translate(-4px, 0);
}

.btn__ghost_0:active path {
    stroke: #fff;
}

.btn__ghost_0 svg {
    margin-bottom: -1px;
}

.btn__ghost_0 path {
    transition: 0.25s;
}


.dream_interier {
    background: #191919;
    padding: 90px 0;
    color: #fff;
    margin-bottom: 100px;
}

.dream_interier__info {
    max-width: 550px;
}

.dream_interier__info .title_x {
    line-height: 1.225;
    margin-bottom: 28px;
}

.dream_interier__text {
    font-weight: 300;
    font-size: 17px;
    max-width: 460px;
    line-height: 1.24;
    margin-bottom: 30px;
}

.dream_interier__text p {
    margin-bottom: 12px;
}

.dream_interier__text p:last-child {
    margin-bottom: 0;
}

.btn_dream_interier {
    padding: 15px 23px;
}

.dream_interier__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.dream_interier__image {
    font-size: 0;
    left: 527px;
    position: absolute;
    top: -155px;
    width: 813px;
}

.dream_interier.dream_interier--about {
    margin-bottom: 148px;
}

.tab_section__title {
    line-height: 1.25;
    margin-bottom: 30px;
}

.tab_section__item__title {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.35;
    width: 100%;
    padding-right: 60px;
}

.tab_section__item__top {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    padding: 28px 0 18px;
}

.tab_section__item__content {
    display: none;
}

.tab_section__item {
    border-bottom: 1px solid #DCDCDC;

}

.tab_section__item:last-child {
    border: none;
}

.tab_section__item__btn {
    position: absolute;
    right: 0;
    top: 35px;
    width: 30px;
    height: 30px;
}

.page__content.page__content--about {
    padding-bottom: 128px;
}

.tab_section__item__btn:before,
.tab_section__item__btn:after {
    width: 75%;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background: #191919;
    transition: 0.25s;
}

.tab_section__item__btn:after {
    height: 75%;
    width: 2px;
}

.tab_section__item__top:hover {
    color: #FF7A00;
}

.tab_section__item__top {
    transition: 0.25s;
    padding: 28px 0 18px;
}

.tab_section__item__top:hover .tab_section__item__title {
    transform: translate(0, -5px);
}

.tab_section__item__title {
    transition: 0.25s;
}

.tab_section__item__top:hover .tab_section__item__btn:before,
.tab_section__item__top:hover .tab_section__item__btn:after {
    background: #FF7A00;
}

.tab_section__item__btn {
    transition: 0.25s ease-in-out;
}

.tab_section__item.active .tab_section__item__btn {
    transform: rotate(45deg);
}

.tab_section__item.active .tab_section__item__content {
    display: block;
}

.tab_section__item__content__text>* {
    margin-bottom: 15px;
}

.tab_section__item__content__text {
    font-weight: 300;
    font-size: 15px;
    padding: 0px 0 22px;
    max-width: 1100px;
}

.tab_section__item__content__text ul,
.tab_section__item__content__text ol {
    padding-left: 30px;
    list-style: none;
}

.tab_section__item__content__text li:before {
    background: #FF7A00;
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    left: -30px;
    top: 10.5px;
}

.tab_section__item__content__text li {
    position: relative;
    margin-bottom: 10px;
}

.tab_section__item__content__text li:last-child {
    margin-bottom: 0;
}

.tab_section__item__content__text>*:last-child {
    margin-bottom: 0;
}

.active.tab_section__item .tab_section__item__top {
    color: #d75200;
}


.active.tab_section__item .tab_section__item__btn:after,
.active.tab_section__item .tab_section__item__btn:before {
    background: #d75200;
}

.active.tab_section__item .tab_section__item__title {
    transform: translate(0, -5px);
}

.done_project__slider__list__about__mobile {
    display: none;
}



//


.done_project__slider_about__x.full {
    z-index: 10;
    width: 100vw;
    position: relative;
    margin: 0 calc(-1 * (100vw - 1170px) / 2);
    transform: translate(0, calc(360px - 100vh));
    margin-bottom: calc(360px - 100vh);
}

.done_project__slider_about__x.full .done_project__slider_about {
    width: 100vw;
    height: 100vh;
}

.done_project__slider__block {
    transition: 0.75s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.done_project__slide__image {
    transition: 0.75s ease-in-out;
}

.done_project__slider_about__x.full .done_project__slide .done_project__slide__image {
    height: 100vh;
    padding: 0;
}

.done_project__slide {
    transition: 0.75s ease-in-out;
}

.done_project__slider_about__x.full .done_project__slide {
    width: 100vw !important;
}

.done_project__slider_about__x.full .done_project__slide__image {
    height: 100vh;
}

.done_project__slider_about__x .slick-arrow {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    transform: translate(0, -50%);
    font-size: 0;
    z-index: 5;
    background: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    appearance: none;
    opacity: 0.7;
}

.done_project__slider_about__x .slick-prev {
    left: 5%;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='48' viewBox='0 0 45 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.25 14L16.875 24L26.25 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.done_project__slider_about__x .slick-next {
    right: 5%;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='48' viewBox='0 0 45 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 34L28.125 24L18.75 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.done_project__slider_about.slider--default_dots .slick-dots {
    left: auto;
    right: 5%;
    bottom: 88px
}

.done_project__slide__more {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    margin-top: 5px;
}

.done_project__slide__more:hover {
    color: #ff7a00;
}

.done_project__slide__more:active {
    color: #d75200;
}

.done_project__slider_about__x .done_project__link {
    margin: 0;
}

.done_project__slider_about {
    transition: 0.75s ease-in-out;
}

.done_project__slider_about__x {
    transition: 0.75s ease-in-out;
    width: 100%;
    overflow: hidden;
    z-index: 9;
}

.done_project__slider_about__x {
    position: relative;
}

.done_project__slider__block__front {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}

.done_project__slider_about__x.full .done_project__slider__block__front {
    display: none;
}

.done_project__btn.done_project__btn--desktop:hover svg {
    transform: translate(4px, 0);
}

.done_project__slider_about__section.show_btn .done_project__link {
    opacity: 1;
    transform: translate(0, 0);
}

.done_project__slider_about__section--first .done_project__link {
    opacity: 0;
    transform: translate(0, 100%);
}

.done_project__link--about {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    background: #fff;

}

.done_project__slider_about__section {
    position: relative;
}

.done_project__slider_about__section.show_btn .done_project__slide__info {
    bottom: 90px;
}

.done_project__slide__info {
    transition: 0.25s ease-in-out;
}


.done_project__slider__block__front:hover+.done_project__slider_about__section .done_project__slide__image {
    transform: scale(1.025);
}

.done_project__slider__block__front:hover+.done_project__slider_about__section .done_project__slide__info {
    transform: translate(0, 0px)
}


.done_project__slider_about__section.done_project__slider_about__section--first {
    display: block;
}

.done_project__slider_about__section {
    display: none;
}

.done_project__slider_about__x.full .done_project__slider_about__section {
    display: block;
}


.done_project__slider__block__front+.done_project__slider_about__section .done_project__slide__info {
    transform: translate(0, 10px)
}

.done_project__slide__title {
    transition: .25s ease-in-out
}

.done_project__slider__block__front+.done_project__slider_about__section .done_project__slide__more {
    opacity: 0;
}

.done_project__slider__block__front:hover+.done_project__slider_about__section .done_project__slide__more {
    opacity: 1;
}



.done_project__slider__block__front+.done_project__slider_about__section .slick-arrow {
    opacity: 0;
}

.done_project__slider__block__front+.done_project__slider_about__section .slick-dots {
    opacity: 0;
}


.done_project__slider_about__x.full .done_project__slider__block__front+.done_project__slider_about__section .done_project__slide__more {
    opacity: 1;
}

.done_project__slider_about__x.full .done_project__slider__block__front+.done_project__slider_about__section .slick-arrow {
    opacity: 1;
}

.done_project__slider_about__x.full .done_project__slider__block__front+.done_project__slider_about__section .slick-dots {
    opacity: 1;
}



.done_project__slide {
    overflow: hidden
}

.done_project__slide__image img {
    transition: 0.25s ease-in-out;
}

.done_project__slider_about__section--first .done_project__slide__info {
    bottom: 38px;
}

.done_project__slider_about__section--first .done_project__slider_about .slick-dots {
    bottom: 38px;
}

.done_project__slider_about__section.show_btn .slick-dots {
    bottom: 88px;
}

@media screen and (max-width: 1210px) {
    .done_project__slider_about__x.full {
        margin: 0 -20px;
    }

    .page__content__why_we .container {
        padding-left: 20px;
    }

    .page__content__why_we__col_1 {
        width: 475px;
    }

    .page__content__why_we__col_2 {
        padding-left: 50px;
    }
}

@media screen and (max-width: 900px) {
    .done_project__slider {
        margin: 0 -20px;
    }

    .done_project__slide__image {
        height: 420px;
        padding: 0;
    }

    .done_project__slide__info {
        right: 20px;
        bottom: 55px;
        left: 20px;
    }

    .done_project__slider .slick-dots {
        left: 20px;
        right: 0;
        bottom: 25px;
    }

    .dream_interier__info .title_x {
        font-size: 32px;
    }


    .done_project__top {
        margin-bottom: 30px;
    }

    .dream_interier__info {
        max-width: 380px;
    }

    .dream_interier__image {
        left: 320px;
        width: 640px;
        top: -102.5px;
    }

    .page__content__why_we__text p {
        line-height: 1.4;
    }

    .page__content__why_we__text p {
        margin-bottom: 24px;
    }

    .page__content__why_we {
        margin-bottom: 90px;
    }

    .page__content__why_we .title_x {
        max-width: 230px;
        line-height: 1.25;
    }

    .page__content__why_we__row {
        flex-direction: column;
        gap: 32px;
        max-width: 650px;
    }

    .page__content__why_we__col_2 {
        padding: 0;
    }

    .page__content__why_we__col_1 {
        width: 100%;
    }

    .page__content__why_we_inner {
        margin-top: 32px;
    }

    .page__content.page__content--about {
        padding-bottom: 75px;
    }

    .page_about__team_top_image {
        margin: 0 -20px 30px;
    }

    .page_about__team_top_image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .page_about__team_top_row {
        flex-direction: column-reverse;
        gap: 30px;
        margin-bottom: 75px;
    }

    .page_about__team_top_text {
        width: 100%;
        max-width: 550px;
    }

    .page_about__team_top_quote {
        max-width: 450px;
        width: 100%;
    }

    .page_about__our__team__list {
        padding: 0;
    }

    .page__content__team {
        margin-bottom: 75px;
    }

    .page__content__count .container {
        max-width: 600px;
        gap: 55px 20px;
    }

    .page__content__count__item {
        flex-basis: calc(50% - 10px);
    }

    .page__content__count {
        padding: 45px 0 75px;
        margin-bottom: 75px;
    }

    .done_project__slider_about .done_project__slide__info {
        bottom: 30px;
    }
}

@media screen and (max-width: 750px) {

    .done_project__slider_about__x {
        display: none;
    }

    .done_project__btn svg {
        display: none;
    }

    .done_project__btn {
        border: none;
        padding: 0;
        margin-top: 15px;
    }

    .done_project__btn:hover {
        color: #ff7a00;
    }

    .done_project__btn:active {
        color: #d75200;
    }

    .done_project__btn {
        color: #ff7a00;
    }

    .done_project__slider__list__about__mobile {
        display: block;
    }

    .done_project__slider {
        display: none;
    }

    .done_project__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        color: #fff;
        margin-bottom: 35px;
    }

    .done_project.done_project--about {
        background: #191919;
        padding-top: 30px;
    }

    .tab_section__item__title {
        font-size: 20px;
    }

    .tab_section__item__content__text {
        padding-top: 0;
        padding-bottom: 35px;
    }

    .dream_interier__info .title_x {
        font-size: 28px;
        max-width: 400px;
    }

    .dream_interier__image {
        top: calc(100% - 45px);
        left: -65px;
        width: 550px;
        pointer-events: none;
    }

    .dream_interier {
        padding-bottom: 150px;
    }

    .dream_interier.dream_interier--about {
        margin-bottom: 230px;
    }

    .dream_interier__info {
        max-width: 100%;
    }

    .tab_section__item__btn {
        top: 26px;
        width: 26px;
        height: 26px;
    }

    .tab_section__item__top {
        padding: 23px 0 26px;
    }
}

@media screen and (max-width: 600px) {
    .page_about__our__team__list {
        display: block;
        white-space: nowrap;
        overflow: scroll;
        margin: 50px -20px 0;
        padding: 0 20px;
    }

    .page_about__our__team__list::-webkit-scrollbar {
        display: none;
    }

    .page_about__our__team__list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page_about__our__team__item {
        display: inline-flex;
        width: 225px;
    }

    .page_about__team_top_row {
        margin-bottom: 60px;
    }

    .page__content__team {
        margin-bottom: 60px;
    }

    .page__content__count__item {
        flex-basis: 100%;
    }

    .page__content__count .container {
        gap: 40px 0;
    }
}

@media screen and (max-width: 550px) {
    .dream_interier {
        padding: 75px 0 150px;
    }

    .dream_interier__image {
        width: 400px;
        top: calc(100% - 27.5px);
        left: -47.5px;
    }

    .dream_interier.dream_interier--about {
        margin-bottom: 130px;
    }

    .dream_interier__text {
        line-height: 1.35;
        margin-bottom: 32px;
    }
}