.x_404__title {
    margin: 0;
    font-family: "Cormorant Garamond";
    font-size: 150px;
    font-weight: 700;
    line-height: 0.75;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.x_404__title__small {
    font-size: 36px;
}

.x_404__title__big {
    line-height: 0.7;
}

.x_404 {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
}

.x_404__title_add {
    margin-bottom: 35px;
    color: #777;
    font-weight: 300;
    font-size: 15px;
}

.x_404__text {
    font-size: 15px;
    font-weight: 300;
    max-width: 420px;
    margin: 0 auto 32px;
}

.btn_404_home {
    max-width: 270px;
    margin: 0 auto;
}