.portfolio_item {
    margin: 0 -200px;
    display: flex;
    font-size: 0;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.portfolio_item__image__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 420px;
    transition: 0.25s ease-in-out;
}

.portfolio_item__image__inner:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.portfolio_item__title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.25;
    color: #FFFFFF;
    z-index: 2;
    transition: 0.25s ease-in-out;
}

.portfolio_item__image__inner {
    position: relative;
}

.portfolio_item:hover .portfolio_item__title {
    transform: translate(0,-5px);
    color: #FF7A00;
}

.more__block__post.more__block__post--portfolio {
    max-width: 180px;
    margin: 0 auto;
}

.page__content.page__content--projects {
    padding-bottom: 150px;
}

.portfolio_item:hover .portfolio_item__image__inner img {
    transform: scale(1.05);
}

@media screen and (max-width: 1600px) {
    .portfolio_item {
        margin: 0 calc(-1 * (100vw - 1200px)/2) 30px;
    }
}

@media screen and (max-width: 1210px) {
    .portfolio_item {
        margin: 0 -20px 30px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio_item__title {
        font-size: 17px;
        left: 16px;
        bottom: 20px;
    }

    .more__block__post.more__block__post--portfolio {
        max-width: 400px;
    }
}



