.contact__page__map__inner {
    filter: grayscale(1) brightness(0.9) invert(1);
    height: 580px;
    max-width: 1680px;
    margin: 0 auto;
}

.page__content--contact {
    padding-top: 80px;
    padding-bottom: 150px;
}

.contact_page_item--phone a {
    font-weight: 300;
    font-size: 28px;
    text-decoration: none;
    color: inherit;
}

.contact_page_item {
    margin-bottom: 18px;
}

.contact_page_item--phone {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 27px;
    align-items: flex-start;
}

.contact_inner__row {
    margin-top: 54px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.contact_page_item--phone a:hover {
    color: #FF7A00;
}

.contact_page_item--phone a:active {
    color: #d75200;
}

.contact_page_item__title {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 2px;
}


.contact_page_item__value a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.contact_page_item__value {
    font-weight: 300;
    font-size: 16px;
}

.contact_page__col_1 {
    flex: 1;
}

.contact_page__col_2 {
    max-width: 570px;
}

.contact_page__form__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
}

.contact_page__form_x_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.contact_page__form_x_col_1 {
    width: 200px;
}

.contact_page__form_x_col_2 {
    flex: 1;
}

.field_x input {
    width: 100%;
    padding: 11.5px 16px;
    border-radius: 0;
    appearance: none;
    border: 1px solid #DCDCDC;
    font-weight: 500;
    font-size: 13px;
}

.field_x {
    margin-bottom: 20px;
    display: flex;
}


.warning::placeholder {
    color: #D71D1D;
    opacity: 1;
}

.warning:-ms-input-placeholder {
    color: #D71D1D;
}

.warning::-ms-input-placeholder {
    color: #D71D1D;
}



.field_x {
    position: relative;
}

.error_label {
    position: absolute;
    bottom: -17px;
    font-size: 10px;
    color: #D71D1D;
    left: 0px;
    transition: 0.25s ease-in-out;
}

.field_x input:hover,
.field_x input:focus,
.field_x textarea:hover,
.field_x textarea:focus {
    border-color: #191919;
}

.field_x.error {
    color: #D71D1D;
}

.field_x input,
.field_x textarea {
    transition: 0.25s;
}

.field_x textarea {
    width: 100%;
    padding: 13px 15px;
    appearance: none;
    border: 1px solid #DCDCDC;
    font-weight: 500;
    font-size: 13px;
    height: 160px;
    resize: vertical;
}

.field_x:last-child {
    margin-bottom: 0;
}

.btn_black {
    background: #191919;
    color: #fff;
    border: none;
    border-radius: 0;
    appearance: none;
    padding: 15px 10px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 15px;
}

.field_x_agree__text {
    font-size: 11px;
    font-weight: 300;
    margin-top: 4px;
    line-height: 1.15;
}

.contact__page__map {
    width: 100vw;
    margin-left: calc(-1 *(100vw - 1170px) / 2);
}

.contact_page_item__value a:hover {
    color: #FF7A00;
}

.contact_page_item__value a:active {
    color: #d75200;
}

.btn_black:hover {
    box-shadow: 0px 12px 16px -6px rgba(25, 25, 25, 0.25);
}

.btn_black:active {
    background: #2F2F2F;
    box-shadow: none;
}


@media screen and (max-width: 1210px) {
    .contact__page__map {
        margin: 0 -20px;
    }
}

@media screen and (max-width: 900px) {
    .contact_page__col_2 {
        max-width: 100%;
        width: 100%;
        max-width: 700px;
    }

    .contact_page__col_1 {
        flex: none;
        width: 100%;
    }

    .contact_inner__row {
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .page__content--contact {
        padding: 70px 0;
    }
}

@media screen and (max-width: 550px) {
    .page__content--contact {
        padding: 20px 0 0;
    }

    .contact_page_item__value {
        font-size: 15px;
        line-height: 1.5;
        max-width: 320px;
    }

    .contact_page__form_x_col_1 {
        width: 100%;
    }

    .contact_page__form_x_row:last-child {
        margin-bottom: 0;
    }
}