.portfolio_filter__title {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.35;
    position: relative;
    margin-bottom: 26px;
}

.portfolio_filter {
    margin-top: 40px;
    margin-bottom: 29px;
}

.portfolio_filter__title--mobile:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 14L12 9L7 14' stroke='%23191919' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    right: 0;
    top: 0;
    transition: 0.25s ease-in-out;
    background-repeat: no-repeat;
    background-position: 50%;
}

.portfolio_filter__title--mobile.active:after {transform: rotate(180deg);}

.portfolio_filter__title--mobile {
    display: none;
}

.portfolio_filter__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio_filter__form {
    position: relative;
}

.portfolio_filter__clear {
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    right: 8px;
    top: -56px;
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 5px 10px;
    gap: 3px;
    border: none;
    line-height: 1;
    transition: 0.25s ease-in-out;
    color:inherit;
}

.portfolio_filter__item_title {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 15px;
    color: #777777;
}

.portfolio_filter__col--1 {
    width: 375px;
}

.portfolio_filter__choose__item__text {
    border: 1px solid #DCDCDC;
    color: #777777;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 18px;
}

.portfolio_filter__choose__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.portfolio_filter__choose__item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.project__top--mobile {
    display: none;
}


.portfolio_filter__item {
    margin-bottom: 29px;
}

.portfolio_filter__item:last-child {
    margin-bottom: 0;
}

.portfolio_filter__col.portfolio_filter__col--2 {
    flex: none;
    width: 270px;
}


.portfolio_filter__col--3 {
    flex: 1;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid #DCDCDC;
    height: auto;
    transition: 0.25s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    width: 60px;
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23191919' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.25s ease-in-out;
    opacity: 0.4;
    transition: 0.25s ease-in-out
}

.select2-container--default:hover .select2-selection--single .select2-selection__arrow{opacity: 1;}
.select2-container--focus.select2-container--default .select2-selection--single .select2-selection__arrow{opacity: 1;}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 13px 17px;
    color: #777777;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding-right: 45px;
}

.select2-results__option {
    font-weight: 500;
    font-size: 13px;
    color: #777777;
    padding: 8px 17px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    background: #191919;
    color: #fff;
}

.select2-dropdown {
    border-radius: 0;
    border: 1px solid #191919;
}

.select2-container--default.select2-container--open {
    border-color: #191919;
}

.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #191919;
}

.portfolio_filter__item--style {
    max-width: 270px;
}

input:checked+.portfolio_filter__choose__item__text {
    border-color: #191919;
    color: #191919;
}

.select2-selection.select2-selection--single:hover {
    border-color: #191919;
}


.select2-container--focus.select2-container--default .select2-selection--single {
    border-color: #191919;
    color: #191919;
}

.select2-container--focus.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.select2-selection.select2-selection--single:hover>* {
    color: inherit;
}

.select2-container--default.select2-container--open .select2-selection__arrow {
    transform: rotate(180deg);
}

.portfolio_filter__clear:hover {
    color: #FF7A00;
}

.portfolio_filter__clear:active {
    color: #d75200;
}

.portfolio_filter__clear:hover path {
    stroke: #FF7A00;
}

.portfolio_filter__clear:active path {
    stroke: #d75200;
}

.portfolio_filter__clear path {
    transition: 0.25s ease-in-out;
}

@media screen and (max-width: 1100px) {
    .portfolio_filter__col--1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .portfolio_filter__item--style {
        flex: 1;
    }

    .portfolio_filter__choose--type {
        margin-bottom: 0;
    }

    .portfolio_filter {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 750px) {
    .portfolio_filter__col.portfolio_filter__col--2 {
        width: 100%;
    }

    .portfolio_filter__col.portfolio_filter__col--3 {
        width: 100%;
    }

    .portfolio_filter__col--1 {
        display: block;
    }

    .portfolio_filter__choose--type {
        margin-bottom: 30px;
    }

    .portfolio_filter__row {}

    .portfolio_filter__select {
        max-width: 370px;
    }

    .portfolio_filter__choose__list {
        display: block;
        white-space: nowrap;
        overflow: scroll;
        padding: 0 12.5px;
        font-size: 0;
        margin: 0 -20px;
    }

    .portfolio_filter__choose__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 7.5px;
    }

    .portfolio_filter__choose__list::-webkit-scrollbar {
        display: none;
    }

    .portfolio_filter__choose__list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .portfolio_filter__clear {
        position: static;
        width: 100%;
        justify-content: center;
        max-width: 400px;
        margin: 30px auto 0;
    }

    .portfolio_filter__title {
        display: none;
    }

    .portfolio_filter__title--mobile {
        display: block;
        border-bottom: 1px solid transparent;
        padding-bottom: 10px;
    }
    .project__top--mobile {
        display: block;
        margin-bottom: 30px;
    }

    .project__top--mobile__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        font-family: 'Cormorant Garamond';

    }

    .project__top--mobile__add_text {
        font-weight: 300;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 7px;
    }

    .project__top--mobile__link {
        color: #FF7A00;
        font-size: 13px;
        font-weight: 500;
    }

    .project__top--mobile__link:hover {
        color: inherit;
    }

    .portfolio_filter__title--mobile.active {
        border-bottom-color: #DCDCDC;
    }

    .portfolio_filter {
        margin-bottom: 32px;
    }
    .portfolio_filter__form{display: none;}
}