.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
    bottom: 0;
    overflow: scroll;
    pointer-events: none;
    transform: translate(0, -100%);
    max-width: 100%;
    width: 100%;
    background: rgba(25, 25, 25, 0.97);
    backdrop-filter: blur(10px);
    visibility: hidden;
    color: #fff;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}

.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.25s ease-in-out;

    &.active {
        opacity: 1;
        z-index: 9;
    }
}


.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__inner {
    max-width: 540px;
    margin: 0 auto;
    padding: 20px 20px 40px;
}

.modal__menu__logo {
    filter: brightness(0) invert(1);
    font-size: 0;
    margin-right: 30px;
}

.modal__menu__top {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    padding-right: 50px;
}

.modal__menu__call {
    color: #FF7A00;
    font-weight: 500;
    font-size: 15px;
}

.modal__menu__btn_close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 60%;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    appearance: none;
    transition: 0.25s;
}

.modal__menu__btn_close:before,
.modal__menu__btn_close:after {
    content: '';
    position: absolute;
    width: 90%;
    background: #fff;
    height: 1px;
    transform: rotate(45deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.25s;
}

.modal__menu__btn_close:after {
    transform: rotate(-45deg);
}

.modal__menu__btn_close:hover:before,
.modal__menu__btn_close:hover:after {
    background: #FF7A00;
}

.modal__menu__btn_close:active:before,
.modal__menu__btn_close:active:after {
    background: #D75200;
}

.modal__menu__schedule {
    color: #DCDCDC;
    font-weight: 300;
    font-size: 11px;
}

.menu_submenu {
    display: none;
}


.modal__menu__call:hover {
    color: #D75200;
}

.modal__menu__adress .header__city__value:after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6665 6.6665L7.99984 9.99984L11.3332 6.6665' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.modal__menu__adress .header__city__list {
    width: calc(100vw - 40px);
    max-width: 350px;
    color: #191919;
    border: none;
    padding: 12px 15px 15px;
    top: calc(100% + 5px);
}

.modal__menu__adress {
    margin-bottom: 30px;
}

.modal__menu__x li {
    border-bottom: 1px solid #2F2F2F;
}

.modal__menu__x ul {
    list-style: none;
}

.modal__menu__x a {
    color: inherit;
    text-decoration: none;
    padding: 22px 0 15px;
    display: block;
    line-height: 1.35;
    font-weight: 300;
}

.modal__menu__x {
    margin-bottom: 100px;
}

.modal__menu__x li:last-child {
    border: navajowhite;
}

.modal__menu__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal__menu__contact__link {
    font-weight: 300;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 15px;
}

.modal__menu__contact__social {
    margin-top: 15px;
}

.modal__menu__contact__link:hover {
    color: #ff7a00;
}
.modal__menu__contact__link:active{color: #d75200;}
.modal__menu__contact__social a {
    display: flex;
}

.modal__menu__contact__social a:hover {
    opacity: 0.5;
}

.modal__menu__x a:hover {
    color: #ff7a00;
}
.modal__menu__x a:active{    color: #d75200;}
.has_submenu:after {
    content: '';
    position: absolute;
    right: 2.5px;
    width: 24px;
    height: 24px;
    top: 22px;
    transition: 0.25s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23FF7A00' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    filter: brightness(0) invert(1);
    transition: 0.25s ease-in-out;
}
.has_submenu:hover:after {
    filter:none
}

.has_submenu {
    position: relative;
}

.active.has_submenu:after {
    transform: rotate(180deg);
    filter: brightness(0.75);
}

.active.has_submenu>a {
    color: #d75200;
}

.menu_submenu a {
    padding-left: 20px;
}

.menu_submenu {
    margin-top: -5px;
}