.project__label__text {
    color: #FF7A00;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.project__label {
    display: inline-flex;
    align-items: center;
}

.project__label img {
    width: 24px;
    margin-right: 10px;
}

.project__top__row {
    margin-top: -12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.project__top__add_info {
    font-weight: 300;
    font-size: 13px;
    display: flex;
    gap: 15px;
}


.page__project__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.page__project__info__col {
    flex: 1;
}

.page__project__info__title {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 17px;
}

.page__project__info__list b {
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    margin-right: 7px;
}

.page__project__info__list p {
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 15px;
}

.page__project__info__list p:last-child {
    margin-bottom: 0;
}

.default__text__slider_x {
    margin: 60px -200px 60px;
    overflow: hidden;
}

.default__text__slider_x .slick-dots {
    position: absolute;
    bottom: 25px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0;
    gap: 10px;
}

.default__text__slider_x:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1
}


.default__text__slider_x .slick-arrow {
    position: absolute;
    top: 0;
    width: 125px;
    bottom: 0;
    z-index: 5;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none
}

.default__text__slider_x .slick-next {
    right: 0;
    left: auto
}

.default__text__slider_x .slick-prev {
    left: 0
}

.default__text__slider_x .slick-arrow:before {
    content: "";
    background: #191919;
    filter: blur(100px);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    transition: .25s ease-in-out
}

.default__text__slider_x .slick-arrow:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out
}


.default__text>:first-child {
    margin-top: 0;
}

.default__text__slider_x .slick-arrow:hover:before {
    background: #000
}

.default__text__slider_x .slick-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L18 24L28 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.default__text__slider_x .slick-next:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 34L30 24L20 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.default__text__slider_x .slick-arrow:focus,
.default__text__slider_x .slick-arrow:hover {
    outline: 0
}




.default__text__slider_x .slick-dots {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0;
    gap: 10px
}

.default__text__slider_x .slick-dots button {
    width: 8px;
    height: 8px;
    background: 0 0;
    border: 1px solid #fff;
    transition: .25s
}

.default__text__slider_x .slick-dots button:hover {
    background: #fff
}

.default__text__slider_x .slick-dots .slick-active button {
    background: #fff
}


.default__text__slider_x .slick-dots li {
    margin: 0;
}
.default__text__slider_x .slick-dots li:before{display: none;}

.single__project_who__image {
    font-size: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    position: absolute;
    left: -165px;
    top: 2px;
}

.single__project_who {
    position: relative;
    max-width: 770px;
    margin: 0 auto;
    margin-top: 55px;
}

.single__project_who__status {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 15px;
}

.single__project_who__title {
    font-size: 11px;
    font-weight: 300;
    color: #777777;
    margin-bottom: 10px;
}

.single__project_who__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
}

.single__project_who__text p {
    margin-bottom: 10px;
}

.single__project_who__text p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1210px) {
    .default__text__slider_x {
        margin: 60px calc(-1 * (100vw - 800px)/ 2);
    }

    .single__project_who {
        max-width: 100%;
        padding-left: 130px;
    }

    .single__project_who__image {
        left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .page__project__info__col {
        width: calc(50% - 15px);
        flex: none;
    }

    .page__project__info {
        gap: 40px 30px;
        margin: 0 auto 45px;
        max-width: 770px;
    }
}

@media screen and (max-width: 800px) {
    .default__text__slider_x {
        margin: 60px -20px;
    }
}


@media screen and (max-width: 750px) {

    .default__text__slider_x .slick-arrow {
        display: none !important;
    }

    .default__text__slider_x .slick-dots {
        bottom: 30px;
    }

    .default__text__slide__inner img {
        height: 360px;
        object-fit: cover;
        width: 100%;
    }
    .page__content.page__content--project {
        padding-bottom: 60px;
    }

    .page__project__info__col {
        width: 100%;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 17px;
    }

    .page__project__info {
        gap: 22px 0;
    }

    .page__project__info__list {
        display: none;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .page__project__info__title {
        margin-bottom: 0;
        position: relative;
        padding-right: 33px;
    }

    .page__project__info__title:after {
        content: '';
        position: absolute;
        right: 0;
        top: 3px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23191919' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        transition: 0.25s;
    }


    .project__top__row {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        margin-top: -5px;
    }

    .project__label img {
        margin-right: 12px;
    }

    .page__project__info__col.active .page__project__info__title:after {
        transform: rotate(180deg);
    }
}



@media screen and (max-width: 550px) {
    .single__project_who__image {
        position: static;
        margin-bottom: 15px;
    }

    .single__project_who {
        padding: 0;
        margin-bottom: 55px;
        max-width: 390px;
    }
}