<div class="portfolio_filter js__animate__top">
    <div class="portfolio_filter__title">Фильтры поиска</div>
    <div class="portfolio_filter__title portfolio_filter__title--mobile js_portfolio_filter__title active">
        Фильтры поиска
    </div>

    <div class="portfolio_filter__form js_portfolio_filter__form">
        <form action="">
            <div class="portfolio_filter__row">


                <div class="portfolio_filter__col portfolio_filter__col--1">
                    <div class="portfolio_filter__item portfolio_filter__choose portfolio_filter__choose--type">
                        <div class="portfolio_filter__item_title">Тип объекта</div>
                        <div class="portfolio_filter__choose__list">

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="type_object" value="Жилые">
                                <div class="portfolio_filter__choose__item__text">Жилые</div>
                            </label>

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="type_object" value="Общественные">
                                <div class="portfolio_filter__choose__item__text">Общественные</div>
                            </label>

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="type_object" value="Коммерческие">
                                <div class="portfolio_filter__choose__item__text">Коммерческие</div>
                            </label>
                        </div>
                    </div>
                    <div class="portfolio_filter__item portfolio_filter__select portfolio_filter__item--style">
                        <div class="portfolio_filter__item_title">Стиль дизайна</div>
                        <div class="portfolio_filter__select__inner">
                            <select name="style" class="js_select" placehoder="Все">
                                <option value="Все">Все</option>
                                <option value="1">Опция 1</option>
                                <option value="2">Опция 2</option>
                                <option value="3">Опция 3</option>
                                <option value="4">Опция 4</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="portfolio_filter__col portfolio_filter__col--2">
                    <div class="portfolio_filter__item portfolio_filter__select">
                        <div class="portfolio_filter__item_title">Тип интерьера</div>
                        <div class="portfolio_filter__select__inner">
                            <select name="style" class="js_select" placehoder="Все">
                                <option value="Все">Все</option>
                                <option value="1">Опция 1</option>
                                <option value="2">Опция 2</option>
                                <option value="3">Опция 3</option>
                                <option value="4">Опция 4</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="portfolio_filter__col portfolio_filter__col--3">
                    <div class="portfolio_filter__item portfolio_filter__choose portfolio_filter__choose--direction">
                        <div class="portfolio_filter__item_title">Тип объекта</div>
                        <div class="portfolio_filter__choose__list">

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="direction" value="Архитектура">
                                <div class="portfolio_filter__choose__item__text">Архитектура</div>
                            </label>

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="direction" value="Благоустройство">
                                <div class="portfolio_filter__choose__item__text">Благоустройство</div>
                            </label>

                            <label class="portfolio_filter__choose__item">
                                <input type="checkbox" name="direction" value="Дизайн">
                                <div class="portfolio_filter__choose__item__text">Дизайн</div>
                            </label>
                        </div>
                    </div>
                </div>


            </div>

            <button class="portfolio_filter__clear" type="reset">
                <div class="portfolio_filter__clear__icon">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5 6V18C18.5 19.1046 17.6046 20 16.5 20H8.5C7.39543 20 6.5 19.1046 6.5 18V6M15.5 6V5C15.5 3.89543 14.6046 3 13.5 3H11.5C10.3954 3 9.5 3.89543 9.5 5V6M4.5 6H20.5" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="portfolio_filter__clear__text js_btn_clear_filter">Сбросить фильтры</div>
            </button>
        </form>
    </div>
</div>