.main_footer {
    position: relative;
}

.main_footer {
    background: #191919;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 17px;
}

.main_footer__logo {
    filter: brightness(0) invert(1);
    display: inline-flex;
    align-items: center;
}

.main_footer__top {
    display: flex;
    align-items: center;
}

.main_footer__middle {
    padding: 39px 0 60px;
    display: flex;
}

.main_footer .container {}

.main_footer__logo img:last-child {
    margin-left: 14px;
}

.main_footer__phones a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    font-size: 17px;
}

.main_footer__col_1 {
    display: flex;
    flex: 1;
    padding-right: 50px;
}

.main_footer__col_2 {
    width: 370px;
}

.main_footer__phones {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 5px;
}

.main_footer__small_title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 18px;
}

.main_footer__contact__item__title {
    color: #777777;
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 0.5px;
}

.main_footer__contact__item__value {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.45;
}

.main_footer__contact__item__value a {
    color: inherit;
    text-decoration: none;
}



.main_footer__contact__item {
    margin-bottom: 19px;
}

.main_footer__contact__social {
    margin-top: -2px;
    display: flex;
    align-items: center;
    font-size: 0;
}

.main_footer__contact__social a:hover {
    opacity: 0.75;
}

.main_footer__bottom {
    display: flex;
    font-weight: 300;
    color: #777777;
    align-items: center;
}

.link_develop_site {
    display: inline-flex;
    align-items: center;
    color: #777777;
    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
}

.link_develop_site__text {
    margin-right: 9px;
}

.link_develop_site:hover {
    color: inherit;
}

.main_footer__menu_col {
    margin-right: 72px;
}

.main_footer__menu_col:last-child {
    margin: 0;
}

.main_footer__menu ul {
    list-style: none;
}

.main_footer__menu a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

.main_footer__menu li {
    margin-bottom: 7.5px;
}

.main_footer__menu li:last-child {
    margin-bottom: 0;
}

.main_footer__copyright {
    font-size: 11px;
    margin-right: 32px;
}

.main_footer__bottom__link {
    font-size: 11px;
    color: inherit;
    text-decoration: none;
    margin-right: 30px;
}

.main_footer__bottom__link:hover {
    color: #FF7A00;
}

.main_footer__contact__item__value a:hover {
    color: #FF7A00;
}
.main_footer__menu a:hover {
    color: #FF7A00;
}


.main_footer__phones a:hover {
    color: #FF7A00;
}
.link_develop_site:hover {
    color: #FF7A00;
}

.main_footer__contact__item__value a:active {
    color: #d75200;
}
.main_footer__bottom__link:active {
    color: #d75200;
}
.main_footer__menu a:active { color: #d75200;}
.main_footer__phones a:active{color: #d75200;}
.link_develop_site:active {color: #d75200;}


@media screen and (max-width: 900px) {
    .main_footer__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .main_footer__col_1 {
        margin-bottom: 30px;
        padding-right: 0;
    }

    .main_footer__middle {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .main_footer__col_2 {
        width: 100%;
    }

    .main_footer__contact__item__title {
        margin-bottom: 3px;
    }

    .main_footer__middle .main_footer__col_1 {
        margin-bottom: 35px;
    }

    .main_footer__bottom {
        flex-direction: column;
        align-items: start;
    }

    .main_footer__menu li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .main_footer__phones a {
        color: #FF7A00;
    }

    .main_footer__phones {
        flex-direction: column;
        gap: 15px;
    }

    .main_footer__col_1 {
        margin-bottom: 25px;
    }

    .main_footer__menu_col {
        width: 100%;
        margin: 0 0 30px;
    }

    .main_footer__col_1 {
        display: block;
    }

    .main_footer__bottom .main_footer__col_1 {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 15px;
    }
}