.header_main {
    position: relative;
}

.header_btn_menu {
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;

    @media screen and (max-width:1450px) {
        display: flex;
    }

    span {
        background: $black;
        width: 85%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -9px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 9px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}

.header_main .container {
    display: flex;
    align-items: center;
}

.page__wrap {
    overflow: hidden;
}

.header_main {
    background: #fff;
    padding: 23px 0;
}

.header_main .container {
    max-width: 1720px;
}

.loaded .header__city__list {
    transition: 0.25s;
}

.header__city__list {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -10px);
    visibility: hidden;
    top: calc(100% + 4px);
    font-size: 12px;
    border: 0.5px solid #191919;
    padding: 7px 10px 10px;
    border-radius: 3px;
    background: #fff;
    font-weight: 300;
    width: 140px;
    z-index: 11;
}

.header__logo {
    display: inline-flex;
    align-items: center;
}

.header__contact {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 230px;
    margin-left: 75px;
}

.btn__orange {
    background: #FF7A00;
    font-weight: 500;
    font-size: 15px;
    padding: 14px 20px;
    display: inline-flex;
    line-height: 1;
    white-space: nowrap;
}

.btn__orange:hover {
    background: #FF7A00;
    box-shadow: 0px 12px 16px -6px rgba(255, 122, 0, 0.35);
}

.btn__orange:active {
    background: #D75200;
    box-shadow: none;
}

.header__phone,
.header__mail {
    font-weight: 300;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
    margin-right: 29px;
}

.btn__header_call {
    margin-left: 52px;
    padding: 15px 23px;
}

.header__phone:hover,
.header__mail:hover {
    color: #FF7A00;
}

.header__phone:active,
.header__mail:active {
    color: #D75200;
}

.header__adress {
    margin-left: 124px;
    padding-top: 0px;
}

.header__city__value {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    padding-right: 21px;
}

.header__logo img:last-child {
    margin-left: 15px;
}

.header__city__value:after {
    content: '';
    position: absolute;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665' stroke='%23191919' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    width: 16px;
    height: 16px;
    top: 2px;
    transition: 0.25s;
}

.header__city {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.header__schedule {
    margin-top: 0px;
    color: #777777;
    font-size: 11px;
    font-weight: 300;
}

.header__city__value:hover {
    opacity: 0.75;
}

.header__city.active .header__city__value:after {
    transform: rotate(180deg);
}

.header__city.active .header__city__list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0);
}

.header__city__list ul {
    list-style: none;
}

.header__city__list a {
    color: inherit;
    text-decoration: none;
}

.header__city__list li {
    margin-bottom: 5px;
}

.header__city__list li:last-child {
    margin-bottom: 0;
}

.header__city__list a:hover {
    color: #ff7900;
}

.header_main.fixed_up {
    top: 0;
}

.header_main.fixed {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 10;
    background: #191919;
    color: #fff;
}

.header_main.fixed.fixed_up {
    top: 0;
}

.header_main.fixed .header__city__value:after {
    filter: invert(1);
}

.loaded .header_main {
    transition: top 0.25s ease-in-out;
}

.header_main.fixed .header__logo {
    filter: brightness(0) invert(1);
}

.header_main.fixed .header_btn_menu span {
    background: #fff;
}

.header_main.fixed .header__city__list a {
    color: #191919;
}

.header_main.fixed .header__city__list a:hover {
    color: #ff7900;
}

.header_main.fixed .header__city__list a:active {
    color: #d75200;
}

.header_main.open_menu--desktop {
    z-index: 10;
    background: #191919;
    color: #fff;
}


.home_page .header__city__list a {
    color: #191919;
}

.home_page .header__city__list a:hover {
    color: #ff7900;
}


.header_main.open_menu--desktop .header__city__list a {
    color: #191919;
}

.header_main.open_menu--desktop .header__city__list a:hover {
    color: #ff7900;
}


.header_main.open_menu--desktop .header__logo {
    filter: brightness(0) invert(1);
}

.header_main.open_menu--desktop .header__city__value:after {
    filter: invert(1);
}

.header_main.open_menu--desktop .header_btn_menu span {
    background: #fff;
}

header.header_main.open_menu--desktop.fixed .modal__menu--desktop {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.header_main.fixed.fixed_up.open_menu--desktop.fixed .modal__menu--desktop {
    opacity: 1;
    pointer-events: all;
    visibility: visible
}

.header_btn_menu--desktop {
    display: flex;
}

.header_btn_menu--mobile {
    display: none;
}


.header_main.fixed .header__city.active .header__city__list {
    opacity: 0;
    pointer-events: none;
}


.header_main.fixed.fixed_up .header__city.active .header__city__list {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 1350px) {
    .header__adress {
        margin-left: 75px;
    }

    .header__contact {
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
    }

    .btn__header_call {
        margin-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .header__mail {
        display: none;
    }

    .header__contact {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 900px) {
    .header_btn_menu--desktop {
        display: none;
    }

    .header_btn_menu--mobile {
        display: flex;
    }

    .header__adress {
        display: none;
    }

    .header_main {
        padding: 15px 0;
    }
}

@media screen and (max-width: 700px) {
    .header__phone {
        display: none;
    }

    .header__contact {
        margin: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo img:last-child {
        display: none;
    }

    .header_main {
        padding: 18px 0;
    }

    .btn__header_call {
        background: transparent;
        color: #FF7A00;
        padding: 8px 10px;
    }

    .header__contact {
        justify-content: flex-start;
        margin: 0 20px;
    }

    .btn__header_call:hover {
        background: transparent;
        box-shadow: none;
        color: #d75200;
    }
}