html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: $font;
    line-height: 1.4;
    color: $textColor;
    font-feature-settings: 'pnum' on, 'lnum' on;
}


.loaded a {
    transition: 0.25s
}
.loaded .btn__default{ transition: 0.25s ease;}

.btn__default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1210px;
}




.title_x {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    margin: 0 0 24px;
    text-transform: uppercase;

    &--center {
        text-align: center;
    }
}



.form__field {
    position: relative;
    margin-bottom: 22px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
            font-weight: 500;
            font-size: 17px;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba($textColor, 0.3);
        border-radius: 0px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba($textColor, 0.3);
        border-radius: 0px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}




.breadcrumbs {
    font-size: 11px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 30px;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs a:after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66992 11.6667L10.0033 8.33333L6.66992 5' stroke='%23DCDCDC' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    width: 16px;
    position: absolute;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    content: '';
}

.breadcrumbs li {
    position: relative;
    padding-right: 20px;
}

.breadcrumbs a:hover {
    color: #ff7a00;
}

.breadcrumbs a:active {
    color: #d75200;
}

.form__field input:hover,.form__field input:focus,.form__field textarea:hover,.form__field textarea:focus {
    border-color: #191919;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
    outline: none;
}