.modal__default {
    display: none;
    padding: 0;
    max-width: 450px;
    width: 100%;
    color: $textColor;
}

.modal__inner {
    padding: 32px 50px;
}

.modal__title {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    line-height: .9;
}

.form__field--agree {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.2;
}

.form__field--agree a {
    color: #ff7900;
}

.form__field--agree a:hover {
    color: #d75200;
    text-decoration: none;
}


.header_main.fixed  .modal__menu--desktop.active{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.header_main.fixed.fixed_up  .modal__menu--desktop.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal__menu--desktop.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal__menu--desktop {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background: #191919;
    border-bottom: 1px solid #fff;
    padding: 90px 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 10;
    transition: 0.25s ease-in-out;
    color: #fff;
}

.modal__menu--desktop__inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 20px;
}

.modal__menu--desktop__menu__block__title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 32px;
}

.modal__menu--desktop__menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
}

.modal__menu--desktop__menu__block ul {
    list-style: none;
}

.modal__menu--desktop__menu__block a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

.modal__menu--desktop__menu__block li {
    margin-bottom: 10px;
}

.modal__menu--desktop__menu__block {
    min-width: 170px;
}

.modal__menu--desktop__menu__block a:hover {
    color: #ff7a00;
}

.modal__menu--desktop__menu__block a:active {
    color: #d75200;
}

.modal__menu--desktop__menu__block li:last-child {
    margin-bottom: 0;
}

.modal__menu--desktop__menu__contact {
    width: 370px;
}

.modal__menu--desktop__menu__contact__time__title {
    color: #777777;
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 5px;
}

.modal__menu--desktop__menu__contact__time__value {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.35;
}

.modal__menu--desktop__menu__contact__inner {
    margin-bottom: 30px;
}

.modal__menu--desktop__social {
    font-size: 0;
    display: flex;
    gap: 10px;
}

.modal__menu--desktop__social a:hover {
    opacity: 0.75;
}


@media screen and (max-width: 1100px) {

    .modal__menu--desktop__menu__contact {
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .modal__menu--desktop {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {

    .modal__title {
        font-size: 34px;
    }

    .modal__default {
        max-width: 350px;
    }

    .modal__inner {
        padding: 32px 35px;
    }

    .form__field input,
    .form__field textarea {
        font-size: 14px;
        padding: 13px 15px;
    }



    .form__field--btn button {
        font-size: 15px;
        font-weight: 500;
    }
}