.title_x__add {
    font-weight: 300;
    font-size: 13px;
    color: #777777;
    margin-bottom: 10px;
}

.service__section_1__top .title_x {
    max-width: 600px;
    line-height: 1.23;
    margin-bottom: 0;
}

.service__section_1__text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 49px;
}

.service__section_1__text__inner {
    max-width: 570px;
    padding-right: 100px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2;
}

.service__section_1__top {
    margin-bottom: 28px;
}

.service__section_1.service__section_1--home {
    margin-bottom: 132px;
}

.done_project__slider__list__mobile {
    display: none;
}

.block_cooperation .container {
    max-width: 1010px;
}

.block_cooperation .title_x {
    max-width: 600px;
}

.block_cooperation__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 31px;
    gap: 20px;
}

.block_cooperation__list {
    margin-top: 60px;
}

.block_cooperation__title {
    font-weight: 300;
    font-size: 20px;
    flex: 1;
    padding-left: 56px;
}

.block_cooperation__icon {
    font-size: 0;
    width: 24px;
}

.block_cooperation__text {
    font-weight: 300;
    font-size: 15px;
    max-width: 470px;
    line-height: 1.325;
}

.block_cooperation__icon svg {
    width: 100%;
}

.block_cooperation {
    margin-bottom: 149px;
}

.btn_done_project {
    position: absolute;
    right: 0;
    top: 20px;
}

.done_project__t {
    position: relative;
    margin-bottom: 57px;
}

.done_project__t .title_x {
    margin: 0;
}

.done_project__slider_x {
    margin: 0 -225px;
    overflow: hidden;
}

.done_project__link {
    margin: 0 -225px;
}



.done_project__slider__slide {
    position: relative;
    overflow: hidden;
}

.done_project__slider__slide__image {
    font-size: 0;
    position: relative;
}

.done_project__slider__slide__image img {
    width: 100%;
    min-height: 450px;
    object-fit: cover;
}

.done_project__slider__slide__info {
    position: absolute;
    bottom: 27px;
    left: 30px;
    color: #fff;
    z-index: 2;
}

.done_project__slider__slide__title {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 4px;
}

.done_project__slider__slide__link {
    font-weight: 500;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
}

.done_project__slider__slide__link:hover {
    color: #FF7A00;
    text-decoration: none;
}

.done_project__slider__slide__link:active {
    color: #d75200;
}

.done_project__link {
    display: flex;
    align-items: center;
    padding: 18px 40px;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.done_project__slider_x .slick-arrow {
    position: absolute;
}


.done_project__slider_x .slick-arrow:before {
    content: "";
    background: #191919;
    filter: blur(100px);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    transition: .25s ease-in-out;
}

.done_project__link:hover {
    color: #FF7A00;
}

.done_project__link:active {
    color: #d75200;
}

.done_project__link:hover svg {
    transform: translate(10px, 0);
}

.done_project__link svg {
    transition: 0.25s;
}

.done_project__link:hover path {
    stroke: #FF7A00;
}

.done_project__link:active path {
    stroke: #d75200;
}

.done_project__slider__slide__image:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
}

.done_project__slider_x .slick-prev {
    left: 0;
}

.done_project__slider_x .slick-arrow {
    position: absolute;
    z-index: 5;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
    top: 50%;
    bottom: auto;
    height: 100px;
    transform: translate(0, -50%);
    width: 170px;
}


.done_project__slider_x .slick-arrow:hover:before {
    background: #000
}

.done_project__slider_x .slick-arrow:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out;
}

.done_project__slider_x .slick-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L18 24L28 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.done_project__slider_x .slick-next:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 34L30 24L20 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.default__text__slider_x .slick-arrow:focus,
.default__text__slider_x .slick-arrow:hover {
    outline: 0
}


.done_project__slider_x .slick-next {
    right: 0;
}


.slider--default_dots .slick-dots {
    position: absolute;
    bottom: 30px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    right: auto;
    left: 20px;
    margin: auto;
    font-size: 0;
    gap: 10px
}

.slider--default_dots .slick-dots button {
    width: 8px;
    height: 8px;
    background: 0 0;
    border: 1px solid #fff;
    transition: .25s
}

.slider--default_dots .slick-dots button:hover {
    background: #fff
}

.slider--default_dots .slick-dots .slick-active button {
    background: #fff
}

.slider--default_dots .slick-dots li {
    margin: 0
}


.home_page .header_main {
    background: #191919;
    color: #fff;
}

.home_page .header_main .header__logo {
    filter: brightness(0) invert(1);
}

.home_page .header__city__value:after {
    filter: invert(1);
}

.home_page .header_main .header_btn_menu span {
    background: #fff;
}

.home__promo {
    background: #191919;
    color: #fff;
    padding: 130px 0;
    margin-bottom: 448px;
    margin-top: -2.5px;
}

.home__promo .title_x {
    font-weight: 700;
    font-size: 58px;
    max-width: 770px;
    margin-bottom: 0;
}

.home__promo__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
}

.home__promo__text {
    font-weight: 300;
    font-size: 13px;
    max-width: 370px;
    margin-bottom: 13px;
    line-height: 1.25;
}

.home__promo__slider {
    max-width: 1570px;
    margin: 59px auto -460px;
    overflow: hidden;
    background: #191919;
}



.slider--default_arrows .slick-arrow {
    position: absolute;
    top: 0;
    width: 100px;
    bottom: 0;
    z-index: 5;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none
}

.slider--default_arrows .slick-next {
    right: 0;
    left: auto
}

.slider--default_arrows .slick-prev {
    left: 0
}

.slider--default_arrows .slick-arrow:before {
    content: "";
    background: #191919;
    filter: blur(100px);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    transition: .25s ease-in-out
}

.slider--default_arrows .slick-arrow:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out
}

.slider--default_arrows .slick-arrow:hover:before {
    background: #000
}

.slider--default_arrows .slick-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L18 24L28 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.slider--default_arrows .slick-next:after {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 34L30 24L20 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}

.slider--default_arrows .slick-arrow:focus,
.slider--default_arrows .slick-arrow:hover {
    outline: 0
}


.home__promo__slide {
    position: relative;
    overflow: visible;
    color: inherit;
}

.home__promo__slide__info {
    position: absolute;
    top: 61px;
    left: 60px;
    z-index: 1;
}

.home__promo__slide__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
}

.home__promo__slide__more {
    color: #FF7A00;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.home__promo__slide__image:before {
    background: linear-gradient(150.83deg, #191919 -14.01%, rgba(25, 25, 25, 0) 34.21%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.home__promo__slide__image {
    font-size: 0;
    padding-top: 47.135%;
    position: relative;
}

.home__promo__slide__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__promo__slider.slider--default_dots .slick-dots {
    right: 0;
    left: 0;
    bottom: 42px;
}

.btn__orange.btn_home__promo {
    display: none;
}

.another_article .slick-list {
    z-index: 4;
}

.home__promo__slider .slick-arrow {
    top: 50%;
    bottom: auto;
    height: 100px;
    transform: translate(0, -50%);
    width: 170px;
}

.home__promo__slide__more:active {
    color: #D75200;
}

.home__promo__slide:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 1;
    background: #191919;
    filter: blur(100px);
}

.home__promo__slide:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 1;
    background: #191919;
    filter: blur(100px);
}

.review_block_x .block_review {
    margin-top: 60px;
}

.review_block_x {
    margin-bottom: 150px;
}

.popular_question {
    margin-bottom: 130px;
}

.another_article__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 58px;
    padding-right: 200px;
}

.another_article__top .title_x {
    margin: 0;
}

.another_article__link {
    font-size: 13px;
    margin-left: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-flex;
    color: #FF7A00;
}

.another_article__link:hover {
    text-decoration: none;
}

.another_article__link:active {
    color: #d75200;
}

.another_article__list {
    margin: 0 0 0 -200px;
}

.another_article__item {
    width: 440px;
    margin: 0 15px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.another_article .slick-list {
    overflow: visible;
}

.another_article__item__inner {
    height: 300px;
    position: relative;
    display: block;
}

.another_article__item__inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.25s ease-in-out;
}

.another_article__item__info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 500;
    font-size: 15px;
    z-index: 2;
}

.another_article__item__image {
    height: 100%;
}

.another_article__item__image:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.another_article {
    margin-bottom: 90px;
}

.another_article__item:hover .another_article__item__image img {
    transform: scale(1.05);
}

.another_article__item:hover {
    color: #FF7A00;
}

.another_article__item:active {
    color: #d75200;
}

.slick-current.another_article__item~.another_article__item {
    opacity: 1;
}

.slick-current.another_article__item {
    opacity: 1;
}

.another_article__item {
    opacity: 0;
}

.another_article__list.slider--default_dots .slick-dots {
    top: -79px;
    bottom: auto;
    right: 0;
    left: auto;
    z-index: 4;
}

.another_article__list.slider--default_dots .slick-dots button {
    border-color: #000;
}

.another_article__list.slider--default_dots .slick-dots .slick-active button {
    background: #000;
}

.another_article__list.slider--default_dots .slick-dots button:hover {
    background: #000;
}


.home__stage {
    background: #191919;
    color: #fff;
    padding: 54px 0 7px;
    margin-bottom: 150px;
}

.stage_block .container {
    max-width: 1010px;
    position: relative;
}

.home__stage__tab {
    margin-bottom: 130px;
}

.stage_block .title_x {
    max-width: 500px;
    margin: 0;
}

.stage_block__arrow_block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 53px;
    right: 20px;
}

.stage_block__inner {
    display: flex;
    align-items: center;
    gap: 33px;
}

.btn_stage__arrow {
    font-size: 0;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.stage_block__info {
    color: #777777;
    font-size: 13px;
}

.stage_block__current {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}

.btn_stage__arrow:hover path {
    stroke: #ff7a00;
}

.btn_stage__arrow:active path {
    stroke: #d75200;
}

.stage_block__line__x {
    background: #DCDCDC;
    height: 2px;
    position: relative;
}

.stage_block__line__title {
    font-weight: 500;
    font-size: 15px;
    color: #FF7A00;
    margin-bottom: 10px;
}

.stage_block__line__wrap {
    margin-top: 30px;
}

.stage_block__line__x__value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.25s ease;
    background: #FF7A00;
    width: 0;
}

.stage_block__slide__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: -25px;
}

.stage_block__slide__title {
    font-weight: 300;
    font-size: 28px;
    width: 45%;
}

.stage_block__slide__inner {
    padding: 30px 0;
}

.stage_block__slide__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.35;
    margin-bottom: 30px;
}

.stage_block__slide__text p {
    margin-bottom: 8px;
}

.stage_block__slide__text p:last-child {
    margin-bottom: 0;
}

.stage_block__slide__info {
    width: calc(100% - 45% - 20px);
    max-width: 469px;
    position: relative;
    z-index: 1;
}

.stage_block__slide__download {
    font-weight: 500;
    font-size: 15px;
    color: #FF7A00;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.stage_block__slide__image {
    font-size: 0;
    pointer-events: none;
}

.home__stage__tab .tab_section__item__btn:before,
.home__stage__tab .tab_section__item__btn:after {
    background: #fff;
}


.btn_stage__arrow.slick-disabled {
    opacity: 0.2;
    pointer-events: none;
}

.stage_block__slide__download:hover {
    text-decoration: none;
}

.stage_block__slide__download:active {
    color: #D75200;
}

.stage_block__slide__download:active path {
    stroke: #D75200;
}

.stage_block__slide__download path {
    transition: 0.25s ease-in-out;
}


.another_article__list .slick-arrow {
    position: absolute;
    z-index: 5;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    width: 48px;
    height: 48px;
    transition: 0.25s ease-in-out;
}

.another_article__list .slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L18 24L28 34' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    left: 40px;
}

.another_article__list .slick-arrow:hover {
    opacity: 0.5;
}

.another_article__list .slick-next {
    right: -110px;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 34L30 24L20 14' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.btn_done_project:hover svg {
    transform: translate(5px, 0);
}



.home__promo__3d {
    max-width: 1570px;
    margin: 59px auto -460px;
    overflow: hidden;
    background: #191919;
}

.home__promo__3d__inner {
    font-size: 0;
    padding-top: 47.135%;
    position: relative;
}

.home__promo__3d__inner iframe {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
}



@media screen and (max-width: 2000px) {
    .done_project__slider_x {
        margin: 0 calc(-1 * (100vw - 1170px) / 2);

    }

    .done_project__link {
        margin: 0 calc(-1 * (100vw - 1170px) / 2);
    }
}



@media screen and (max-width: 1600px) {
    .another_article__list .slick-next {
        right: auto;
        left: calc(100vw - 30px - 48px - 40px);
    }

    .another_article__list {
        margin-left: calc(-1 * (100vw - 1230px) /2);
    }
}

@media screen and (max-width: 1210px) {

    .home__promo__3d {
        margin-bottom: 0
    }



    .another_article__list .slick-next {
        right: auto;
        left: calc(100vw - 30px - 48px - 40px);
    }

    .another_article__list {
        margin-left: 0;
    }

    .service__section_1__text__inner {
        padding-right: 0;
        max-width: 520px;
    }

    .done_project__slider_x {
        margin: 0 -20px;
    }

    .done_project__link {
        margin: 0 -20px;
    }

    .home__promo .title_x {
        font-size: 36px;
        max-width: 490px;
    }

    .home__promo__slider {
        margin-bottom: 0;
    }

    .home__promo {
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 80px;
        position: relative;
    }

    .home__promo__slide__title {
        font-size: 24px;
        margin-bottom: 7px;
    }

    .home__promo__slider .slick-arrow {
        width: 120px;
    }

    .home__promo__text {
        max-width: 325px;
    }
}


@media screen and (max-width: 900px) {
    .home__promo__3d__inner {height: 100%;padding: 0;}
    .home__promo__3d {
        padding: 0;
        height: 540px;
    }

    .home__promo__slide__image {
        padding: 0;
        height: 645px;
    }

    .another_article__list .slick-arrow {
        display: none !important;
    }

    .review_block_x {
        margin-bottom: 85px;
    }

    .popular_question {
        margin-bottom: 85px;
    }

    .home__review .title_x {
        margin-bottom: 0;
    }

    .home__review.review_block_x .block_review {
        margin-top: 20px;
    }

    .block_cooperation__text {
        max-width: 400px;
    }

    .block_cooperation__title {
        padding-left: 40px;
    }

    .home__promo__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .home__promo__text {
        max-width: 495px;
        line-height: 1.4;
    }

    .home__promo__slide__image img {
        height: 538px;
        object-fit: cover;
    }

    .home__promo__slide__image:before {
        display: none;
    }

    .home__promo__slide:after {
        display: none;
    }

    .home__promo__slide:before {
        background: linear-gradient(150.83deg, #191919 -14.01%, rgba(25, 25, 25, 0) 64.21%);
        width: 100%;
        height: 100%;
        filter: none;
    }

    .home__promo__slide__info {
        top: 22px;
        left: 20px;
    }

    .home__promo__slide__title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .home__promo__slider .slick-arrow {
        display: none !important;
    }

    .btn__orange.btn_home__promo {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        max-width: 170px;
        margin: auto;
        bottom: -20px;
        z-index: 5;
        padding: 15.5px;
        color: #191919;
    }

    .home__promo__slider.slider--default_dots .slick-dots {
        bottom: 50px;
    }

    .btn_done_project {
        font-weight: 500;
        font-size: 13px;
        position: static;
        border: none;
        padding: 0;
        color: #FF7A00;
        margin-top: 12px;
        text-decoration: underline;
        display: inline-flex;
    }

    .btn_done_project svg {
        display: none;
    }

    .btn_done_project:hover {
        color: #ff7a00;
        background: transparent;
        text-decoration: none;
    }

    .btn_done_project:active {
        color: #d75200;
    }

    .done_project__t {
        margin-bottom: 30px;
    }

    .home__stage__tab {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 750px) {
    .btn_done_project:hover {
        color: #ff7a00;
    }

    .btn_done_project:active {
        color: #d75200;
    }

    .done_project--home {
        background: #191919;
        color: #fff;
        padding-top: 26px;
    }

    .done_project__link {
        background: #fff;
    }

    .done_project--home .title_x__add {
        display: none;
    }

    .stage_block__line__wrap {
        margin-top: 45px;
    }

    .stage_block__arrow_block {
        top: 100px;
    }

    .stage_block__inner {
        gap: 14px;
    }

    .btn_stage__arrow {
        width: 32px;
        height: 32px;
    }

    .btn_stage__arrow svg {
        width: 100%;
        height: 100%;
    }

    .stage_block__slide__title {
        font-size: 20px;
        width: 100%;
    }

    .stage_block__slide__row {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .stage_block__slide__info {
        width: 100%;
        position: relative;
    }

    .stage_block__slide__inner {
        padding: 25px 0;
    }

    .stage_block__slide__text {
        line-height: 1.4;
    }

    .stage_block__slide__text p {
        margin-bottom: 15px;
    }

    .home__stage {
        padding-top: 50px;
        margin-bottom: 75px;
    }

    .another_article__top {
        margin-bottom: 35px;
    }

    .another_articles--service .another_article__top {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .another_article__list.slider--default_dots .slick-dots {
        top: calc(100% + 40px);
        left: 0;
        right: 0;
    }

    .another_article {
        margin-bottom: 110px;
    }

    .another_article__item {
        width: calc(100vw - 40px);
    }

    .another_article__top {
        padding-right: 0;
    }

    .another_article__link {
        margin-bottom: 6px;
    }

    .done_project__slider_x {
        display: none;
    }

    .done_project__slider__list__mobile {
        display: block;
        margin: 0 -20px;
        background: #191919;
    }

    .service__section_1__text {
        justify-content: flex-start;
    }

    .service__section_1.service__section_1--home {
        margin-bottom: 80px;
    }

    .block_cooperation__text {
        width: 100%;
        max-width: 550px;
    }

    .block_cooperation__title {
        padding-left: 0px;
        flex: none;
        width: calc(100% - 44px);
    }

    .block_cooperation__item {
        gap: 30px 20px;
    }

    .block_cooperation {
        margin-bottom: 90px;
    }

    .done_project__slider__slide__title {
        font-size: 17px;
        margin: 0;
    }

    .done_project__slider__slide__info {
        left: 20px;
        right: 20px;
        bottom: 60px;
    }

    .done_project__slider--mobile {
        margin-bottom: 10px;
    }

    .done_project__slider--mobile:last-child {
        margin-bottom: 0;
    }



}