.block_review {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    position: relative;
}

.block_review__slider__image {
    width: 450px;
}




.block_review__slide__image__inner {
    position: relative;
    height: 100%;
    min-height: 340px;
}

.block_review__slide__image__inner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.block_review__slide__info__text {
    font-size: 15px;
    font-weight: 300;
    max-width: 630px;
    line-height: 1.35;
}


.block_review__slide__image {
    position: relative;
    width: 55.5%;
}

.slider_review {
    width: 100%;
    position: relative;
}

.block_review__slide__info {
    padding: 0px 00px 65px 50px;
    width: 44.5%;
}

.block_review__slider__info {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc(100% - 45px);
    left: calc(55.5% + 40px);
    gap: 20px;
    z-index: 4;
}


.block_review__item__inner {
    display: flex;
    flex-wrap: wrap;
}

.block_review__slide__info__what {
    font-weight: 300;
    font-size: 20px;
}

.block_review__slide__info__row {
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 10px;
    margin-bottom: 9px;
}

.block_review__slide__info__title {
    color: #777777;
    font-size: 11px;
    font-weight: 300;
}

.btn_review__slider__arrow {
    cursor: pointer;
    font-size: 0;
}

.btn_review__slider__arrow:hover path {
    stroke: #FF7A00;
}
.btn_review__slider__arrow:active path{
    stroke: #D75200;
}

.btn_review__slider__arrow path {
    transition: 0.25s;
}

.block_review__slider__info_current {
    font-weight: 500;
    font-size: 15px;
    color: #FF7A00;
}

.block_review__slider__info_inner {
    font-size: 13px;
    color: #777777;
}


.page__content.page__content--review {
    padding-bottom: 125px;
}

.slider_review .slick-slide {
    opacity: 0;
    transition: 0.25s ease-in-out
}

.slider_review .slick-active {
    opacity: 1;
}



@media screen and (max-width: 1000px) {
    .block_review__slide__image {
        width: 40%;
    }

    .block_review__slide__info {
        width: 60%;
    }

    .block_review__slider__info {
        left: calc(40% + 40px);
        top: calc(100% - 40px);
    }


}

@media screen and (max-width: 750px) {

    .block_review__slide__image {
        width: 100%;
        margin-bottom: 22px;
    }

    .block_review__slide__image__inner img {
        max-height: 400px;
    }

    .block_review__slide__image__inner {
        height: 250px;
    }

    .block_review__slide__info {
        width: 100%;
        padding: 0;
    }

    .block_review__slider__info {
        top: -53px;
        left: auto;
        right: -5px
    }

    .btn_review__slider__arrow svg {
        width: 32px;
        height: auto;
    }

    .block_review__slide__info__row {
        margin: 7px 0 12px;
    }

    .page__content.page__content--review {
        padding-bottom: 75px;
    }
}

@media screen and (max-width: 550px) {

    .block_review__slide__image__inner {
        height: 175px;
    }
}