.quick_link {
    display: block;
    font-size: 0;
    padding: 0 12.5px;
    margin: 0 -20px;
    overflow: scroll;
    margin-bottom: 30px;
    white-space: nowrap;
}

.quick_link a {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #777777;
    text-decoration: none;
    margin: 0 7.5px;
    border: 1px solid #DCDCDC;
    padding: 12.5px 17px;
    display: inline-block;
    white-space: nowrap;
}
.quick_link::-webkit-scrollbar {
  display: none;
}

.quick_link {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.breadcrumbs.breadcrumbs--center ul {
    justify-content: center;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.quick_link a:hover {
    background: #191919;
    box-shadow: 0px 12px 16px -6px rgba(25, 25, 25, 0.25);
    color: #fff;
    border-color: #191919;
}

.article__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.article__item {
    position: relative;
    width: calc(100% / 3 - 20px);
    overflow: hidden;
}

.article__item__image:before {
    background: linear-gradient(20.82deg, #191919 -8.68%, rgba(25, 25, 25, 0) 41.13%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 1;
}

.article__item__info {
    position: absolute;
    z-index: 2;
    bottom: 19px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.45;
    color: #FFFFFF;
    left: 20px;
    right: 20px;
    transition: 0.25s;
}

.article__item__image {
    font-size: 0;
    padding-top: 128.25%;
}

.article__item:hover .article__item__info {
    bottom: 25px;
}

.article__item__more {
    opacity: 0;
    transition: 0.25s;
}

.article__item:hover .article__item__more {
    opacity: 1;
}

.article__item:hover .article__item__image img {
    transform: scale(1.05);
}


.article__item__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.page__content {
    padding: 70px 0;
}

.page__content.page__content--articles {
    padding-bottom: 150px;
}
.more__block__post.more__block__post--article{display: none;}


.more__block__post {
    margin-top: 30px;
    text-align: center;
}

.more__block__post__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 1;
    color: #777777;
    margin-top: 17px;
}

.btn_load_more {
    border: 1px solid #191919;
    display: flex;
    align-items: center;
    gap: 12px;
    color: inherit;
    text-decoration: none;
    padding: 11px 10px;
    max-width: 370px;
    margin: 0 auto;
    justify-content: center;
}

.btn_load_more:hover {
    background: #191919;
    color: #fff;
}

.btn_load_more:hover path {
    stroke: #fff;
}

.btn_load_more path {
    transition: 0.25s;
}

@media screen and (max-width: 900px) {
    .article__item {
        width: calc(100% / 2 - 15px);
    }

    .page__content {
        padding: 50px 0;
    }

    .page__content.page__content--articles {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 750px) {
    .title_x {
        font-size: 28px;
    }

    .breadcrumbs.breadcrumbs--center ul {
        justify-content: flex-start;
    }

    .breadcrumbs {
        margin-bottom: 22px;
    }

    .page__content {
        padding: 20px 0 30px;
    }
    .more__block__post.more__block__post--article{display: block;}
}

@media screen and (max-width: 550px) {
    .article__item {
        width: 100%;
    }

    .article__list {
        gap: 15px 0;
        margin: 0 -20px;
    }

    .article__item__image {
        padding: 0;
        height: 420px;
    }

    .page__content.page__content--articles {
        padding-bottom: 90px;
    }
}
