<div class="another_article @@classx">
    <div class="container">
        <div class="another_article__top js__animate__top">
            <div class="title_x">@@title</div>
            @@if (classx == 'another_articles--home') {
                <a href="" class="another_article__link">Все статьи</a>
            }
        </div>
        <div class="another_article__list js_another_article__list slider--default_dots js__animate__top">
            <a href="" class="another_article__item">
                <div class="another_article__item__inner">
                    <div class="another_article__item__image">
                        <img src="images/__content/pages/home/posts/1.jpg">
                    </div>
                    <div class="another_article__item__info">
                        <div class="another_article__item__title">Стиль хай-тек в интерьере квартиры и дома</div>
                    </div>
                </div>
            </a>

            <a href="" class="another_article__item">
                <div class="another_article__item__inner">
                    <div class="another_article__item__image">
                        <img src="images/__content/pages/home/posts/2.jpg">
                    </div>
                    <div class="another_article__item__info">
                        <div class="another_article__item__title">Стиль лофт в интерьере квартиры и дома</div>
                    </div>
                </div>
            </a>

            <a href="" class="another_article__item">
                <div class="another_article__item__inner">
                    <div class="another_article__item__image">
                        <img src="images/__content/pages/home/posts/3.jpg">
                    </div>
                    <div class="another_article__item__info">
                        <div class="another_article__item__title">Стиль арт-деко в интерьере квартиры и дома</div>
                    </div>
                </div>
            </a>

            <a href="" class="another_article__item">
                <div class="another_article__item__inner">
                    <div class="another_article__item__image">
                        <img src="images/__content/pages/home/posts/4.jpg">
                    </div>
                    <div class="another_article__item__info">
                        <div class="another_article__item__title">Современные стили для домов и квартир</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>