<div class="done_project">
    <div class="container">
        <div class="done_project__t">
            <div class="title_x__add js__animate__left">100+</div>
            <div class="title_x js__animate__left">Выполненные проекты</div>
            <a href="" class="btn__default btn__ghost_0 btn_done_project js__animate__right">
                <div class="btn_ghost_0__text">Смотреть все</div>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.66992 11.6667L10.0033 8.33333L6.66992 5" stroke="#191919" stroke-linecap="square"/>
                </svg>
            </a>
        </div>
        <div class="done_project__slider_x js_done_project__slider_x js__animate__opacity">
            @@for (var i = 1; i <= 5; i++) {
                <div class="done_project__slider__slide">
                    <div class="done_project__slider__slide__image">
                        <img src="images/__content/pages/service/2.jpg">
                    </div>
                    <div class="done_project__slider__slide__info">
                        <div class="done_project__slider__slide__title">Дизайн барбершопа OLDBOY</div>
                        <a href="" class="done_project__slider__slide__link">Подробнее о проекте</a>
                    </div>
                </div>
            }
        </div>

        <div class="done_project__slider__list__mobile">
                <div class="js_done_project__slider--mobile done_project__slider--mobile slider--default_dots js__animate__top">
                    @@for (var i = 1; i <= 4; i++) {
                        <div class="done_project__slider__slide">
                            <a href="" class="done_project__slider__slide__item">
                                <div class="done_project__slider__slide__image">
                                    <img src="images/__content/pages/service/3.jpg">
                                </div>
                                <div class="done_project__slider__slide__info">
                                    <div class="done_project__slider__slide__title">Дизайн барбершопа OLDBOY</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>


                <div class="js_done_project__slider--mobile done_project__slider--mobile slider--default_dots js__animate__top">
                    @@for (var i = 1; i <= 4; i++) {
                        <div class="done_project__slider__slide">
                            <a href="" class="done_project__slider__slide__item">
                                <div class="done_project__slider__slide__image">
                                    <img src="images/__content/pages/service/4.jpg">
                                </div>
                                <div class="done_project__slider__slide__info">
                                    <div class="done_project__slider__slide__title">Дизайн барбершопа OLDBOY</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>

                <div class="js_done_project__slider--mobile done_project__slider--mobile slider--default_dots js__animate__top">
                    @@for (var i = 1; i <= 4; i++) {
                        <div class="done_project__slider__slide">
                            <a href="" class="done_project__slider__slide__item">
                                <div class="done_project__slider__slide__image">
                                    <img src="images/__content/pages/service/5.jpg">
                                </div>
                                <div class="done_project__slider__slide__info">
                                    <div class="done_project__slider__slide__title">Дизайн барбершопа OLDBOY</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
        </div>

        <a href="" class="done_project__link js__animate__top">
            <div class="done_project__link__text">Хочу также</div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 17L15 12L10 7" stroke="#191919" stroke-width="2" stroke-linecap="square"/>
            </svg>
        </a>
    </div>
</div>