<div class="dream_interier">
    <div class="container">
        <div class="dream_interier__inner">
            <div class="dream_interier__info">
                <div class="title_x js__animate__opacity" data-delay="0.15">Рассчитать стоимость вашего проекта</div>
                <div class="dream_interier__text js__animate__opacity" data-delay="0.3">
                    <p>Контемпорари, лофт, функционализм, минимализм, футуризм, арт-деко, неоклассицизм, эклектика, объединение нескольких стилей в оформлении интерьера или экстерьера.</p>
                    <p>Любое ваше желание будет реализовано.</p>
                </div>
                <a href="" class="btn__default btn__orange btn_dream_interier  js__animate__opacity" data-delay="0.35">Заказать проект</a>
            </div>
            <div class="dream_interier__image  js__animate__opacity" data-delay="0.05">
                <img src="images/__content/pages/about/3.png">
            </div>
        </div>
    </div>
</div>
