<div class="popular_question @@class">
    <div class="container">
        <div class="title_x js__animate__top">Популярные вопросы</div>

        <div class="service__section_1__content">

            <div class="tab_section__list js_tab_section__list">
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Если мне не понравится получившийся интерьер?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Как определиться со стилем интерьера? Я не знаю, какой мне нужен дизайн.</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Почему лучше выбрать ваших строителей?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Вы можете нанять и свою строительную бригаду, но наши подрядчики являются профессионалами своего дела и постоянно работают с нашими объектами</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Входят ли в ваши услуги строительные работы, монтаж коммуникаций?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Зачем нужен дизайн-проект?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Сколько стоят ваши услуги?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
                <div class="tab_section__item js__animate__top">
                    <div class="tab_section__item__top">
                        <div class="tab_section__item__title">Какие сроки разработки дизайна интерьера?</div>
                        <div class="tab_section__item__btn"></div>
                    </div>
                    <div class="tab_section__item__content">
                        <div class="tab_section__item__content__text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum id esse culpa ullam enim obcaecati hic laborum voluptatem architecto corporis facilis veniam blanditiis vitae, sed explicabo unde beatae qui.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>