<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="main_footer__top">
            <div class="main_footer__col_1">
                <a href="" class="main_footer__logo">
                    <img src="images/logo.svg" alt="main logo">
                    <img src="images/logo__text.svg" alt="main logo">
                </a>
            </div>
            <div class="main_footer__col_2">
                <div class="main_footer__phones">
                    <a href="tel:+7 (861) 202-04-42">+7 (861) 202-04-42</a>
                    <a href="tel:8 (800) 301-47-78">8 (800) 301-47-78</a>
                </div>
            </div>
        </div>
        <div class="main_footer__middle">
            <div class="main_footer__col_1">
                <div class="main_footer__menu_col">
                    <div class="main_footer__small_title">Основные страницы</div>
                    <div class="main_footer__menu">
                        <ul>
                            <li><a href="">О студии</a></li>
                            <li><a href="">Цены</a></li>
                            <li><a href="">Портфолио</a></li>
                            <li><a href="">Статьи</a></li>
                            <li><a href="">Отзывы</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main_footer__menu_col">
                    <div class="main_footer__small_title">Услуги</div>
                    <div class="main_footer__menu">
                        <ul>
                            <li><a href="">Дизайн интерьера квартир</a></li>
                            <li><a href="">Архитектура и дизайн зданий</a></li>
                            <li><a href="">Дизайн интерьера частных домов и коттеджей</a></li>
                            <li><a href="">Дизайн интерьера общественных помещений</a></li>
                            <li><a href="">Дизайн интерьера коммерческих помещений</a></li>
                            <li><a href="">Дизайн офисов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_footer__col_2">
                <div class="main_footer__small_title">Контакты</div>
                <div class="main_footer__contact">
                    <div class="main_footer__contact__item">
                        <div class="main_footer__contact__item__title">Email</div>
                        <div class="main_footer__contact__item__value">
                            <a href="mailto:Info@officetut.com">Info@officetut.com</a>
                        </div>
                    </div>
                    <div class="main_footer__contact__item">
                        <div class="main_footer__contact__item__title">Адрес</div>
                        <div class="main_footer__contact__item__value">
                            <a href="" target="_blank">г. Москва, ул. Кутузовский проспект, д. 14, под. 3 оф. 71</a>
                        </div>
                    </div>
                    <div class="main_footer__contact__item">
                        <div class="main_footer__contact__item__title">Время работы</div>
                        <div class="main_footer__contact__item__value">
                            Пн - Пт с 10:00 до 18:00 <br>
                            Сб - Вс - Выходной
                        </div>
                    </div>
                    <div class="main_footer__contact__social">
                        <a href="" target="_blank">
                            <img src="images/icons/social/wa.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_footer__bottom">
            <div class="main_footer__col_1">
                <div class="main_footer__copyright">© 2022 «AP-BURO» Все права защищены.</div>
                <a href="" class="main_footer__bottom__link">Политика конфиденциальности</a>
                <a href="" class="main_footer__bottom__link">Карта сайта</a>
            </div>

            <div class="main_footer__col_2">
                <a href="" class="link_develop_site">
                    <div class="link_develop_site__text">Разработано</div>
                    <img src="images/icons/develop.svg">
                </a>
            </div>
        </div>
    </div>
</footer>


@@include('modal.html')
<script src="js/app.min.js?18"></script>