
<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">
            <a href="" class="modal__menu__logo">
                <img src="images/logo.svg" alt="main logo">
            </a>
            <a href="javascript:void(0)" class="btn__default modal__menu__call js_btn_modal_call">Заказать проект</a>
            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>



        <div class="modal__menu__adress">
            <div class="header__city js_header__city">
                <div class="header__city__value">Москва</div>
                <div class="header__city__list">
                    <ul>
                        <li><a href="" class="selected">Москва</a></li>
                        <li><a href="">Краснодар</a></li>
                        <li><a href="">Санкт-Петербург</a></li>
                        <li><a href="">Ростов-на-Дону</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal__menu__schedule">Ежедневно с 10:00 до 20:00</div>
        </div>

        <div class="modal__menu__x">
            <ul>
                <li><a href="">О студии</a></li>
                <li class="has_submenu js_has_submenu">
                    <a href="javascript:void(0)">Услуги</a>
                    <ul class="menu_submenu">
                        <li><a href="">Дизайн интерьера квартир</a></li>
                        <li><a href="">Архитектура и дизайн зданий</a></li>
                        <li><a href="">Дизайн интерьера частных домов и коттеджей</a></li>
                        <li><a href="">Дизайн интерьера общественных помещени</a></li>
                        <li><a href="">Дизайн интерьера коммерческих помещений</a></li>
                        <li><a href="">Дизайн офисов</a></li>
                    </ul>
                </li>
                <li><a href="">Портфолио</a></li>
                <li><a href="">Статьи</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>


        <div class="modal__menu__contact">
            <a href="tel:+7 (861) 202-04-42" class="modal__menu__contact__link">+7 (861) 202-04-42</a>
            <a href="mailto:info@officetut.com" class="modal__menu__contact__link">Info@officetut.com</a>
            <div class="modal__menu__contact__social">
                <a href="" target="_blank">
                    <img src="images/icons/social/wa.svg">
                </a>
            </div>
        </div>

    </div>
</div>




<!-- окно Call-->

<div id="js_modal__call" class="modal__default modal__call">
    <div class="modal__inner">
        <div class="modal__title">Оставьте заявку</div>
        <form action="javascript:void(0)" class="modal__form js_modal__form js_form">

            <div class="form__field">
                <input type="text" name="name" required placeholder="Ваше имя">
            </div>

            <div class="form__field">
                <input type="tel" name="phone" required placeholder="Ваш телефон" class="js__phone_mask">
            </div>

            <div class="form__field">
                <textarea name="comment" placeholder="Комментарий" required></textarea>
            </div>

            <div class="form__field form__field--btn">
                <button class="btn__default btn__orange btn__modal__call js_btn__submit">Отправить</button>
            </div>

            <div class="form__field form__field--agree">
                Нажимая на кнопку, вы соглашаетесь на <a href="">обработку персональных данных</a>
            </div>
        </form>
    </div>
</div>


<div id="js_modal_review" class="modal__default modal__call modal__review">
    <div class="modal__inner">
        <div class="modal__title">Оставьтить отзыв</div>
        <form action="javascript:void(0)" class="modal__form js_modal__form">

            <div class="form__field">
                <input type="text" name="name" required placeholder="Ваше имя">
            </div>

            <div class="form__field">
                <input type="tel" name="phone" required placeholder="Ваш телефон">
            </div>

            <div class="form__field">
                <textarea name="comment" placeholder="Комментарий"></textarea>
            </div>

            <div class="form__field form__field--btn">
                <button class="btn__default btn__orange btn__modal__call">Отправить</button>
            </div>

            <div class="form__field form__field--agree">
                Нажимая на кнопку, вы соглашаетесь на <a href="">обработку персональных данных</a>
            </div>
        </form>
    </div>
</div>



<!-- окно Спасибо Покупка в один клик -->

<!-- <div id="js_modal__thanks" class="modal__default modal__thanks">
    <div class="modal__inner">

        <svg class='modal__thanks__icon' width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48" stroke="#1356A2" stroke-width="4"/>
            <path d="M25 47.8182L42.3759 66L75 34" stroke="#1356A2" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="modal__title">Спасибо за ваш заказ!</div>
        <div class="modal__text">Мы свяжемся с вами в ближайшее время для уточнения деталей,<br> а также сообщим точную стоимость заказа.</div>

        <button class="btn__default btn__style__2 btn__form_close js__btn_close__modal">Хорошо, жду</button>

    </div>
</div> -->